tempo:
  image: xeeon/tempo
  container_name: tempo
  environment:
    - YOUTUBE=YOUTUBE API TOKEN
    - SOUNDCLOUD=SOUNDCLOUD CLIENT ID
    - SPOTIFY_SECRET=SPOTIFY SECRET API TOKEN
    - SPOTIFY_ID=SPOTIFY SECRET API ID
    - GENIUS=GENIUS API KEY
    - DISCORD=DISCORD BOT TOKEN
    - OWNER=DISCORD OWNER ID
    - WEBSOCKET_URL=WEBSOCKET URL [OPTIONAL]
    - DATABASE_URL=POSTGRES DATABASE URL [OPTIONAL]
