version: '3'
services:
  tempo:
    image: xeeon/tempo
    container_name: tempo
    environment:
      - YOUTUBE=YOUTUBE API TOKEN
      - SOUNDCLOUD=SOUNDCLOUD CLIENT ID
      - SPOTIFY_SECRET=SPOTIFY SECRET API TOKEN
      - SPOTIFY_ID=SPOTIFY SECRET API ID
      - GENIUS=GENIUS API KEY
      - DISCORD=DISCORD BOT TOKEN
      - OWNER=DISCORD OWNER ID
  db:
    image: postgres
    container_name: tempo-db
    restart: always
    environment:
      POSTGRES_PASSWORD: t3mpoisl1t
      POSTGRES_USER: tempo
